 <h1 class="text-center">Playlist!</h1>
    <img src="https://www.shareicon.net/data/128x128/2017/02/01/877519_media_512x512.png" alt="logo" class="center">

<div class="row">
    <div class="col-md-6 new">
      <ul>
        {{#each songs}}
        {{#unless listened}}
        {{> song/song-block listened=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-md-6 listened">
      <ol>
        {{#each songs}}
        {{#if listened}}
        {{> song/listened-block listened=true}}
        {{/if}}
        {{/each}}
      </ol>
    </div>
  </div>
<p>Add a Song</p>
      <form class="create-form">
        <div class="form-group">
          <input class="submit-song" id="ipod" name="choice" maxlength="50" type="text">
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
     
</div>


    